<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.katch.perfer.mybatis.mapper.BaseUserRecommendMapper">
	<resultMap id="RecommenderMap" type="com.katch.perfer.mybatis.model.BaseUserRecommend">
		<result column="YH_ID" property="userId" />
		<result column="SP_ID" property="itemId" />
		<result column="SCORE" property="score" />
	</resultMap>

	<sql id="Recommender_Column_List">
		YH_ID, SP_ID, SCORE
	</sql>

	<select id="queryRecommender" parameterType="long" resultMap="RecommenderMap">
		SELECT
		<include refid="Recommender_Column_List" />
		FROM
		SQY_RZDK_JYYH_SPTJ
		WHERE
		YH_ID = #{userID}
	</select>

</mapper>